.index{
    display: flex;
    justify-content: space-between;
    padding: 0 10px ;
    background-color: greenyellow;
}

.indexElement{
    background-color: darken(greenyellow,20%);
    padding: 10px 10px;
 

}