<h1>{{title}}</h1>
<h2>{{subTitle}}</h2>

<div class="index">
    <ng-container *ngFor="let b of book">
        <div>
        <div class="indexElement" (click)="showbook(b)" >
            {{b.author}}
            
           
        </div>
        <div *ngIf="b.showBooks">
            <ul>
                <li *ngFor="let bookName of b.books" >
                    <div (click)="showSummary(bookName)">
                        {{ bookName }}
                    </div>
                    </li >
            </ul>
        </div>
    </div>
       
        </ng-container>
</div>
<div>
    {{summary}}
</div>

<!-- 
<div class="index">
    <div class="indexElement">Author1</div>
    <div class="indexElement">Author2</div>
    <div class="indexElement">Author3</div>
    <div class="indexElement">Author4</div>
    <div class="indexElement">Author5</div>
</div> -->